input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
}



@media only screen and (max-width:600px){
    .img1{
        /* width: 90%;
        height: 90%; */
    }
    /* .img2{
        width: 90%;
        height: 90%;
    } */
}
